body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-repeat: no-repeat;
}
.Toggle h4{
    color: hsl(234, 14%, 74%);
    font-size: 18px;
}
.Toggle{
    margin-top: 5%;
}
input[type="checkbox"]{
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    -webkit-appearance: none;
    background-color:hsl(237, 63%, 64%);
    outline: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -1%;
}
input:checked[type="checkbox"]{
    background-color: hsl(237, 63%, 64%);
}
input:checked[type="checkbox"]:hover,input[type="checkbox"]:hover{
    background-color: hsl(236, 72%, 79%);
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 10%;
    left: 7px;
    background-color: white;
}
input:checked[type="checkbox"]::before{
    left: 42px;
}
.pricingInfo
{
    margin-top: 6%;
    margin-bottom: 10%;
}
.column1,.column3{
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 3%;
    background: white;
}
.column1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.column2{
    background: white;
    padding-top: 8%;
    border-radius: 10px;
    background-image:linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    margin-bottom: -1%;
    color: white;
}
.column3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.pricingInfo h5{
    padding-top: 4%;
    font-size: 20px;
}
.pricingInfo h2{
    font-size: 48px;
}
.pricingInfo span {
    font-size: 70px;
}
.pricingInfo h2::after, .pricingInfo h5::after{
    text-align: center;
    content: '';
    display: block;
    width: 88%;
    height: 0px;
    margin-left: 4%;
    border-bottom: 1px solid rgb(211, 206, 206);
    margin-top: 4%;
}
.pricingInfo button{
    margin-top: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 23%;
    padding-right: 23%;
    border: 0;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.pricingInfo .row{
    margin-left: 15px;
    margin-right: 15px;
}
.column1 button, .column3 button{
    background-image: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    color: white;
}
.column2 button{
    background-color: white!important;
    color: hsl(237, 63%, 64%);
}
@media screen and (max-width: 600px){
    .col-sm-12{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 8%;
    }
    .column2 button{
        margin-bottom: 3%;
    }
    .column1{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .column3{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}